img {
    width: auto !important;
    height: auto !important;
    margin-top: 0.5rem;
}

@media(max-width:720px) {
    img {
        width: 100% !important;
        height: auto !important;
        margin-top: 0.5rem;
    }
}

@media(max-width:480px) {
    img {
        width: 50% !important;
        height: auto !important;
        margin-top: 0.5rem;
    }
}

#receipt-POS {
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: auto;
    background: #FFF;
}

::selection {
    background: #f31544;
    color: #FFF
}

::-moz-selection {
    background: #f31544;
    color: #FFF;
}

#top {
    min-height: 100px;
}

.info {
    display: block;
    margin-left: 0;
}

.tabletitle {
    font-size: .5rem;
    background: #EEE;
}

#legalCopy {
    margin-top: 5mm;
}