{% extends 'layout.html' %} {% block body %}
<form method="post" action="/order">
    <div class="container">
        <div class="card">
            <div class="card-title">
                <label>Step 1 --- Please enter your name:</label>
                <div class="card-body">
                    <div class="form-group">
                        <input name="customerName" class="form-control" required>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <label>Step 2 --- Choose your flame grilled chicken:</label>
                        <div class="card-body">
                            <div class="form-group float-start">
                                <span class="float-start">
                                    <input type="radio" id="chickenType" name="chickenType" value="1/4 Chicken" checked> 
                                    <label for="chickenType">1/4 Chicken</label>
                                    <label>&nbsp;&nbsp;&nbsp;______________________________&nbsp;&nbsp;&nbsp; R15.00</label>
                                </span>
                                <br>
                                <span class="float-start">
                                    <input type="radio" id="chickenType2" name="chickenType" value="2 Chicken Breasts">
                                    <label for="chickenType2"> 2 Chicken Breasts</label>
                                    <label>&nbsp;&nbsp;&nbsp;________________________&nbsp;&nbsp;&nbsp; R30.00</label>
                                </span>
                                <br>
                                <span class="float-start">
                                    <input type="radio" id="chickenType3" name="chickenType" value="5 Chicken Wings">
                                    <label for="chickenType3"> 5 Chicken Wings</label>
                                    <label>&nbsp;&nbsp;&nbsp;_________________________&nbsp;&nbsp;&nbsp; R35.00</label>
                                </span>
                                <br>
                                <span class="float-start">
                                    <input type="radio" id="chickenType4" name="chickenType" value="Chicken Livers">
                                    <label for="chickenType4"> Chicken Livers</label>
                                    <label>&nbsp;&nbsp;&nbsp;___________________________&nbsp;&nbsp;&nbsp;&nbsp; R25.00</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <label>Step 3 --- Choose your flavour:</label>
                        <div class="card-body">
                            <div class="form-group">
                                <span class="float-start btn btn-danger">
                                    <input type="radio" id="flavor" name="flavor" value="Extra Hot Peri-Peri" checked> 
                                    <label for="flavor"> Extra Hot Peri-Peri</label>
                                </span>
                                <br><br>
                                <span class="float-start btn btn-warning">
                                    <input type="radio" id="flavor2" name="flavor" value="Hot Peri-Peri">
                                    <label for="flavor2"> Hot Peri-Peri</label>
                                    </span><br><br>
                                <span class="float-start btn btn-secondary">
                                    <input type="radio" id="flavor3" name="flavor" value="Mild Peri-Peri"> 
                                    <label for="flavor3"> Mild Peri-Peri</label>
                                </span><br><br>
                                <span class="float-start btn btn-success">
                                    <input type="radio" id="flavor4" name="flavor" value="Lemon and Herb">
                                    <label for="flavor4"> Lemon and Herb</label>
                                    </span><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <label>Step 4 --- Choose your side dish:</label>
                        <div class="card-body">
                            <div class="form-group">
                                <span class="float-start"><input type="checkbox" id="sideDish" name="sideDish" value="Chips"> 
                                <label for="sideDish"> Chips</label>
                                <label>&nbsp;&nbsp;&nbsp;_____________________________________&nbsp;&nbsp;&nbsp; R19.00</label>
                            </span>
                                <br>
                                <span class="float-start"><input type="checkbox" id="sideDish1" name="sideDish" value="Flame Grilled Meali">
                                <label for="sideDish1"> Flame Grilled Meali</label>
                                <label>&nbsp;&nbsp;&nbsp;________________________&nbsp;&nbsp;R12.00</label>
                                 </span>
                                <br>
                                <span class="float-start"><input type="checkbox" id="sideDish2" name="sideDish" value="Peri-Peri Wedges">
                                <label for="sideDish2"> Peri-Peri Wedges</label>
                                <label>&nbsp;&nbsp;&nbsp;___________________________&nbsp;R19.00</label>
                                 </span><br>
                                <span class="float-start"><input type="checkbox"id="sideDish3" name="sideDish" value="Spicy Rice"> 
                                <label for="sideDish3"> Spicy Rice</label>
                                <label>&nbsp;&nbsp;&nbsp;___________________________________R34.00</label>
                            </span>
                                <input name="dataSideDish" id="dataSideDish" type="hidden">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <label>Step 5 --- Choose your drink:</label>
                        <div class="card-body">
                            <div class="form-group">
                                <span class="float-start"><input type="checkbox" id="drink" name="drink" value="Coca-Cola">
                                <label for="drink"> Coca-Cola</label>
                                <label>&nbsp;&nbsp;&nbsp;________________________________&nbsp;&nbsp;&nbsp; R13.00</label>
                            </span>
                                <br>
                                <span class="float-start"><input type="checkbox" id="drink2" name="drink" value="Iced Tea">
                                <label for="drink2"> Iced Tea</label>
                                <label>&nbsp;&nbsp;&nbsp;___________________________________&nbsp;&nbsp;&nbsp;R14.50</label>
                            </span>
                                <br>
                                <span class="float-start"><input type="checkbox" id="drink3" name="drink" value="Liqui Fruit">
                                <label for="drink3"> Liqui Fruit</label>
                                <label>&nbsp;&nbsp;&nbsp;_________________________________&nbsp;&nbsp;&nbsp;R18.00</label> 
                            </span>
                                <br>
                                <span class="float-start"><input type="checkbox" id="drink4" name="drink" value="Water">
                                <label for="drink4"> Water</label>
                                <label>&nbsp;&nbsp;&nbsp;____________________________________ &nbsp;&nbsp;&nbsp; R13.00</label>
                            </span>
                                <input name="dataDrink" id="dataDrink" type="hidden">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <label>Step 6 --- Optional Extras:</label>
                        <div class="card-body">
                            <div class="form-group">
                                <span class="float-start"><input type="checkbox" id="extra" name="extra" value="Fresh Portuguese Roll">
                                <label for="extra"> Fresh Portuguese Roll</label>
                                <label>&nbsp;&nbsp;&nbsp;____________________&nbsp;&nbsp;&nbsp; R3.95</label>
                                </span>
                                <br>
                                <span class="float-start"><input type="checkbox" id="extra2" name="extra" value="Portuguese Salad"> 
                                <label for="extra2"> Portuguese Salad</label>
                                <label>&nbsp;&nbsp;&nbsp;__________________________&nbsp;&nbsp;R19.95</label>
                                </span>
                                <br>
                                <span class="float-start"><input type="checkbox" id="extra3" name="extra" value="Vanilla Ice Cream">
                                <label for="extra3"> Vanilla Ice Cream</label> 
                                <label>&nbsp;&nbsp;&nbsp;_________________________ &nbsp;&nbsp;&nbsp;R15.00</label>
                                </span>
                                <br>
                                <span class="float-start"><input type="checkbox" id="extra4" name="extra" value="Chocolate Cake">
                                    <label for="extra4"> Chocolate Cake</label> 
                                    <label>&nbsp;&nbsp;&nbsp;___________________________&nbsp;&nbsp;&nbsp;R19.00</label>
                                    </span>
                                <input name="dataExtra" id="dataExtra" type="hidden">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-title">
                        <label>Step 7 --- Order Now:</label>
                        <div class="card-body">
                            <div class="form-group">
                                <input onclick="checkOptions();" type="submit" class="btn btn-success" value="Place Order">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="{{url_for('static', filename='js/app.js')}}"></script>
<script>
    var perfEntries = performance.getEntriesByType("navigation");
    if (perfEntries[0].type == "back_forward") {
        location.reload(true);
    }
</script>
{% endblock %}