<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/site.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Meal App</title>
</head>

<body>
    <div class="container">
        <div class="text-center jumbotron">
            {% include 'includes/_messages.html' %} {% include 'includes/_header.html' %}
            <hr>
        </div>
        <div class="container text-center">
            {% block body %}{% endblock %}
        </div>
    </div>
    <script src="{{url_for('static', filename='lib/jquery/dist/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='lib/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/site.js')}}"></script>
</body>

</html>