{% extends 'Layout.html' %} {%block body%}
<div class="container">
    <div class="text-center">
        <h1>Welcome to Python and Mongo App</h1>
        <small>Created using a no sql database and engineered loved languange</small>
        <hr>
        <p>Begin from here!
            <br>
            <a class="btn btn-secondary" href="/askquestion">Ask a question</a>
            <br> OR
            <br>
            <small>Become a member and help others</small>
        </p>
        <a class="btn btn-primary" href="/register">Register</a>
        <a class="btn btn-success" href="/login">Login</a>
    </div>
</div>
{% endblock%}