{% extends 'Layout.html' %}{% block body %}
<h1>Re-Post Question</h1>
{% from 'includes/_formhelpers.html' import render_field %}
<div class="container-fluid">
    <div class="container">
        {% for answer in answers%}
        <div class="card">
            <div class="card-body">
                <small class="text-secondary"><i>Answered by : {{answer['answered_by']}}  on {{answer['answer_date']}}</i></small>
                <p class="card-text">{{ answer['answer'] | safe }}</p>
            </div>
        </div>
        <hr> {% endfor %}
    </div>
    <form method="post" action="">
        <div class="form-group">
            {{render_field(form.name, class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.repost, class_="form-control", id="editor",)}}
        </div>
        <br />
        <p><input type="submit" class="btn btn-primary" value="Submit">
            <a class="btn btn-danger" href="/questions">Cancel</a></p>
    </form>

</div>
{% endblock %}